<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script-layaout")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="navegador sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <img src="@Url.Content("/images/logo.png")" width="200">
                    </a>
                </li>
                @foreach (var entidad in SessionManager.Usuario.ListaPerfilNavegacion)
                {
                    <li>
                        <a href="#" class="desplegable" title="@entidad.Paquete.Nom_Paquete">@entidad.Paquete.Nom_Paquete</a>
                        <ul class="subnavegador">
                            @foreach (var objeto in entidad.ListaPerfilNavegacionOpcion)
                            {
                                <li><a href="@Url.Action("Index", @objeto.Pagina.Url_Pagina)">@objeto.Pagina.Nom_Pagina</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>

        </div>
        <div id="page-content-wrapper">
            <div class="block-user">
                <span class="view-user">@SessionManager.Usuario.Perfil_Usuario <a href="/Home/End">Cerrar Session</a></span>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="MessagePopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Mensaje</h4>
                </div>
                <div class="modal-body" id="modalmsg-texto">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        //$("#menu-toggle").click(function(e) {
        //    e.preventDefault();
        //    $("#wrapper").toggleClass("toggled");
        //});

        $(document).ready(function () { // Script del Navegador
            $("ul.subnavegador").not('.selected').hide();
            $("a.desplegable").click(function (e) {
                var desplegable = $(this).parent().find("ul.subnavegador");
                $('.desplegable').parent().find("ul.subnavegador").not(desplegable).slideUp('slow');
                desplegable.slideToggle('slow');
                e.preventDefault();
            })
        });
    </script>
</body>
</html>
