@model List<CoriPuno.Entidad.ProgramacionDiariaEntidad>
    @{
        ViewBag.Title = "Index";
    }

    <h1>Programa de blending</h1>

    <div class="row">
        <div class="col-md-3 text-left">
            <label>Fecha Proceso:</label>
            <input type="date" id="FechaProceso" name="FechaProceso" />
        </div>
        <div class="col-md-2 text-left">
            <select name="idEquipo" id="idEquipo" class="form-control selectpicker">
                @foreach (var item in ViewBag.ListaEquipos)
                {
                    <option value="@item.IdEquipo">@item.MarcaCapacidad</option>
                }

            </select>
        </div>
        <div class="col-md-1 text-left">
            <input type="text" id="idCapacidad" name="idCapacidad" disabled style="width:100%" />
        </div>
        <div class="col-md-3">
            @if (Model != null && Model.Count > 0)
            {
                <h6>Consolidado de Material</h6>
                <table id="keywords" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th><span>Labor Destino</span></th>
                            <th><span>Ley</span></th>
                            <th><span>Stock</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.LaborDestino</td>
                                <td>@item.Ley.ToString("F2")</td>
                                <td>@item.Stock.ToString("F2")</td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <div class="NoDatos">
                    No hay información
                </div>
            }
        </div>
        <div class="col-md-3">
            <button type="button" id="idEjecBlending" name="idEjecBlending" class="btn btn-primary">Ejecuta Blending</button>
        </div>

    </div>

    
    <div id="ResultadoBlending" class="row">


    </div>
    @Scripts.Render("~/bundles/programa-blending")
    @Scripts.Render("~/bundles/script-layaout")
