
@{
    ViewBag.Title = @ViewBag.TituloPagina;
}

<h1>@ViewBag.TituloPagina</h1>
<div class="container">

    <form class="well form-horizontal" action=" " method="post" id="contact_form">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Poligono:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input type="text" name="Descripcion" id="Descripcion" placeholder="Descripcion" class="form-control">
                    </div>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label">Mina:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        @Html.DropDownList("Mina_Id_Mina", new SelectList(ViewBag.ListaMinas, "Id_Mina", "Descripcion"), "Seleccionar", new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label">Area:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        @Html.DropDownList("Area_Id_Area", new SelectList(ViewBag.ListaAreas, "Id_Area", "Descripcion"), "Seleccionar", new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label">Zona:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        @Html.DropDownList("Zona_Id_Zona", new SelectList(ViewBag.ListaZonas, "Id_Zona", "Descripcion"), "Seleccionar", new { @class = "form-control" })
                    </div>
                </div>

            </div>


            <!-- Button -->
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-3">
                    <input type="submit" id="btn-buscar" class="btn btn-primary" value="Buscar" />
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Nuevo","Poligono")" class="btn btn-warning">Nuevo</a>
                </div>

            </div>
        </fieldset>
    </form>




</div>
<div id="IdResultado">

</div>
@Scripts.Render("~/bundles/mantenimiento-poligono")

